.frm>.f-x:has(.x-c:checked) ~ .c-x,
.frm>.f-x:has(.x-t:checked) ~ .t-x
{
    display: inline-block;
}

.frm > .lv-x:has(.x-1:checked) ~ .db > * > .lv-1,
.frm > .lv-x:has(.x-2:checked) ~ .db > * > .lv-2,
.frm > .lv-x:has(.x-3:checked) ~ .db > * > .lv-3,
.frm > .lv-x:has(.x-4:checked) ~ .db > * > .lv-4,
.frm > .lv-x:has(.x-5:checked) ~ .db > * > .lv-5,
.frm > .lv-x:has(.x-6:checked) ~ .db > * > .lv-6,
.frm > .lv-x:has(.x-7:checked) ~ .db > * > .lv-7,
.frm > .lv-x:has(.x-8:checked) ~ .db > * > .lv-8,
.frm > .lv-x:has(.x-9:checked) ~ .db > * > .lv-9,
.frm > .lv-x:has(.x-10:checked) ~ .db > * > .lv-10,
.frm > .lv-x:has(.x-11:checked) ~ .db > * > .lv-11,
.frm > .lv-x:has(.x-12:checked) ~ .db > * > .lv-12,
.frm > .lv-x:has(.x-13:checked) ~ .db > * > .lv-13
{
    display: block;
}

.lb
{
    width: 12.5%;
    font-size: var(--px20);
    line-height: var(--px25);
    display: inline-block;
    text-align: right;
}

.f-x, .c-x, .t-x
{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    padding: var(--px5);
    background-color: #fff;
    border: var(--px1) solid #caced1;
    border-radius: var(--px2);
    color: #000;
    cursor: pointer;
    text-align: center;
}

.f-x, .c-x, .t-x, .lv-x
{
    font-size: var(--px15);
    line-height: var(--px20);
}

.f-x
{
    width: 7.5%;
    margin: var(--px5) 1% 0 7.5%;
}

.c-x, .t-x
{
    width: 30%;
    margin: var(--px5) 0 0 0;
}

.c-x, .t-x,
.lv-1, .lv-2, .lv-3, .lv-4, .lv-5, .lv-6, .lv-7, .lv-8, .lv-9, .lv-10, .lv-11, .lv-12, .lv-13
{
    display: none;
}

.lv-x
{
    width: 25%;
    margin: var(--px5) 0 0 1%;
    display: inline-block;
}
.lv-x + .lb
{
    width: 2.5%;
}
.lv-x > input
{
    width: 7.5%;
    height: var(--px20);
    line-height: var(--px25);
    background-color: #1e90ff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    transform: translate(0, 12.5%);
}
.lv-x > .x-l
{
    border-radius: var(--px10) 0 0 var(--px10);
}
.lv-x > .x-r
{
    border-radius: 0 var(--px10) var(--px10) 0;
}
.lv-x > input:checked ~ input
{
    background-color: #00478f;
}
